{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ include('./navigation.html.twig') }}
    <div class="container">
        {{ include('./dirigeant/index.html.twig') }}
        {{ include('./societe/index.html.twig') }}
        <a class="btn btn-info" href="{{ path('dirigeant_societe_new') }}">Ajouter des données</a>
    </div>
{% endblock %}
