{% extends 'base.html.twig' %}

{% block title %}Edit Dirigeant{% endblock %}

{% block body %}
    {{ include('./navigation.html.twig') }}
    <div class="container">
        <h1>Edit Dirigeant</h1>
        <div class="row justify-content-md-center">
        <div class="col-6">
            {{ include('dirigeant/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <a href="{{ path('main') }}">back to list</a>
        </div>

        {{ include('dirigeant/_delete_form.html.twig') }}
    </div>
{% endblock %}
